﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CallServceStackCodeBased.aspx.cs" Inherits="ProteinTrackerServiceDemo.CallServceStackCodeBased" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Call ServiceStack" />
    </form>
</body>
</html>
